table {
    display: flexbox;
    border: 1px solid #1b1b1b;
    text-align: center;
    background-color: black;
    width: 40%;
    margin: 20px;
}

.container-1 {
    margin-bottom: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

#sd,
#ds {
    margin-left: 20%;
    margin-right: 0%;
    width: 60%;
}

.top {
    display: flex;
    box-sizing: border-box;
    padding-right: 100px;
    background-color: black;
}

.tb {
    background-color: #f90;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    padding-bottom: auto;
    border: none;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    width: 80px;
    table-layout: fixed;
    width: 50%;
}

#sign_in {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

th {
    background-color: black;
    color: white;
    font-size: 20px;
}

td {
    border: black 1px;
    border-style: solid;
    background-color: #1b1b1b;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    padding: none;
    padding: 0px;
    height: 22px;
    border-color: #1b1b1b;
}

.flex-container {
    display: flex;
    width: 100%;
    background-color: #1b1b1b;
    cursor: pointer;
    font-family: "Ubuntu", Arial;
    align-items: center;
    width: 100vw;
    justify-content: center;
}
.flex-container>div {
    display: flex;
    background-color: #1b1b1b;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.aleft{
    width: 50vw;
    flex-direction: row;
}
.aright {
    width:50vw;
    border: none;
    padding: 0px;
    justify-content: flex-end;
}
#reserve_button {
    border: none;
    background-color: #1b1b1b;
    color: white;
    font-weight: bold;
    font-family: "Ubuntu", Arial;
    margin:20px
}
#about{
    margin: 20px;
}
#my_booking,#reserve {
    padding: 0px;
    margin: 20px;
}
#reserve:hover,#my_booking:hover,#about:hover,#sign_up:hover{
    border-bottom: 2px solid #f90;
}
#login {
    border-bottom: 5px solid #f90;
    padding: 10px 20px;
    color: white;
}
#home {
    margin: 0px;
}
#login{
    border-bottom: 5px solid #f90;
    padding: 10px 20px;
    margin-right:10px;
    margin-top: 20px;
    color: white;
    padding-bottom: 0px;
}
#sign_up{
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
}
#onlogin1{
    border-bottom: 5px solid #f90;
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
}
#onlogin2{
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
}
#onlogin2:hover{
    border-bottom: 2px solid #f90;
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
}

img {
    height: 50px;
    width: auto;
}

body {
    background-color: black;
}

.submit {
    background-color: #f90;
    color: black;
    margin-left: 70vw;
    font-size: 25px;
    align-items: center;
    border: white 1px solid;
    border-radius: 1px;
}
.input-data{
    text-align: center;
    margin: 20px;
}
.Ez {
    background-color: black;
    color: white;
}