body {
    background-color: black;;
    background-position: center;
    background-size: cover;
}
.container{
    display: flex;
    height:auto;
    justify-content: space-around;
}
.twe {
    display: flex;
    color: white;
    height: auto;
    font-size: 2em;
    justify-content: center;
}
.right,.left{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid #333;
    align-content:center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}
.box > h1 {
    border-bottom:white 5px solid;
}
.fa {
    padding: 10px;
    width: 250px;
    background-color: black;
    border:1px solid #555;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    color:white;
}
.fa:focus{
    border-color: white;
}
.input_username {
    margin-top: 20px;
}
.submit {
    background-color: #f90;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: black;
    width: 75%;
    transition-duration: 0.5s;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
}

.submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color:#1b1b1b;
    cursor: pointer;
    font-family: "Ubuntu", Arial;
    align-items: center;
}

.flex-container > div {
    background-color:#1b1b1b;
    margin: 10px;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

#reserve_button {
    border: none;
    background-color: #1b1b1b;
    color: white;
    font-weight: bold;
    font-family: "Ubuntu", Arial;
    padding: 10px 20px;
}

#my_booking {
    padding: 0px;
    margin: 0px;
}

#home {
    border-bottom: 5px solid #f90;
    padding: 10px 20px;
    margin: 0px;
}

#reserve:hover, #my_booking:hover, #about:hover{
    border-bottom: 2px solid #f90; 
}
.alert{
    display:flex;
    color:white;
}
footer {
    background-color:#1b1b1b;
    color: white;
    height: 50px;
}
img {
    height: 50px;
    width: auto;
}
.left{
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;;
}
b {
    font-size: 50px;
}
p {
    border-bottom: #1b1b1b solid 4px;
}