.flex-container {
    display: flex;
    width: 100%;
    background-color: #1b1b1b;
    cursor: pointer;
    font-family: "Ubuntu", Arial;
    align-items: center;
    width: 100vw;
    height: 100px;
    justify-content: center;
}
.flex-container>div {
    display: flex;
    background-color: #1b1b1b;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.aleft{
    width: 50vw;
    flex-direction: row;
}
.aright {
    width:50vw;
    border: none;
    padding: 0px;
    justify-content: flex-end;
}
#reserve_button {
    border: none;
    background-color: #1b1b1b;
    color: white;
    font-weight: bold;
    font-family: "Ubuntu", Arial;
    margin:20px
}
#about{
    margin: 20px;
}
#my_booking,#reserve {
    padding: 0px;
    margin: 20px;
}

#sign_up {
    border-bottom: 5px solid #f90;
    padding: 10px 20px;
    margin: 0px;
    margin-right: 10px;
}

#reserve:hover,#my_booking:hover,#about:hover,#reserve:hover,#login:hover {
    border-bottom: 2px solid #f90;
}
#login{
    padding: 10px 20px;
    margin: 3px;
    color: white;
}

.alert {
    display: flex;
    color: white;
}

footer {
    background-color: #1b1b1b;
    color: white;
    height: 50px;
}

img {
    height: 50px;
    width: auto;
}
p {
    margin-right: 20px;
}
body {
    background-color: black;
}
.box {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    width: 30vw;
    height: auto;
    margin-left:35vw;
}
.fa {
    padding: 10px;
    width: 250px;
    background-color: black;
    border: 1px solid #555;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}

.fa:focus {
    border-color: white;
}

.input_username {
    margin-top: 20px;
}
.submit {
    background-color: #f90;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    color: black;
    width: 50%;
    transition-duration: 0.5s;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
}
.box>h1 {
    border-bottom: white 5px solid;
    color: white;
}